$base-font-size: 16px;
$primary: #42B983;
$errors: #b83d3d;
$light-base-text-color: #2c3e50;
$dark-base-text-color: #c8d3de;
$max-content-width: 960px;

body {
  --body-bg: #fafafa;
  --section-bg: #ffffff;
  --base-text-color: #{$light-base-text-color};
  --muted-text-color: #{lighten($light-base-text-color, 30%)};
  --highlight-text-color: #{lighten($light-base-text-color, 10%)};
  --chapter-highlight-color: aliceblue;

  &.dark-theme {
    --body-bg: #3d424a;
    --section-bg: #444b57;
    --base-text-color: #{$dark-base-text-color};
    --muted-text-color: #{darken($dark-base-text-color, 20%)};
    --highlight-text-color: #{darken($dark-base-text-color, 10%)};
    --chapter-highlight-color: #44574e;
  }
}
